#list-family {
  border: 2px solid black;
  height: 500px;
  margin: 1%;
  overflow-y: scroll;
}

#add-member {
  border: 2px solid black;
  height: 500px;
  margin: 1%;
  overflow-y: scroll;
}

label {
  font-size: 1em;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}
